Source: linksys-firmware-spa942
Section: comm
Priority: optional
Maintainer: Paul Belanger <paul.belanger@polybeacon.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://www.cisco.com/
Vcs-Git: git://github.com/kickstandproject/linksys-firmware-spa942.git
Vcs-Browser: https://github.com/kickstandproject/linksys-firmware-spa942

Package: linksys-firmware-spa942
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
